/* || GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;500;700;900&display=swap');


/* || GENERAL STYLES */
:root {
    --logo-font: 'Pacifico', sans-serif;
    --body-font: 'Roboto', sans-serif;
    --primary-color: #58BC82;
    --secondary-color: #E4E4E4;
    --accent-color: #858585;
    --popup-bg-display: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    font-size: 1.5rem;
    background-color: #FCFCFC;
}

img {
    max-width: 100%;
}

span {
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

li {
    list-style: none;
    display: inline-block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  outline: none;
  border: none;
  box-sizing: border-box; 
  padding: 0;
  margin: 0; 
}

textarea {
  overflow: hidden;
}

button {
    color: inherit;
}

.container {
    padding: 0 3rem;
    position: relative;
}

/* || UTILITY CLASSES */
.active-nav-link {
    color: #000;
}

/* || POPUP */
.container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.465);
    display: var(--popup-bg-display);
}

.popup {
    position: absolute;
    top: 10%;
    left: 50%; 
    transform: translate(-50%, 50%);
    width: 50rem;
    min-height: 25rem;
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.show-popup {
    display: flex;
}

.close-popup-btn {
    color: red;
    font-size: 3rem;
    display: inline;
    margin-left: auto;
    cursor: pointer;
    border-radius: 20px;
    width: 4rem;
    text-align: center;
    padding: 0.5rem;
}

.close-popup-btn:hover {
    background-color: rgba(217, 217, 217, 0.512);
}

.popup-content {
    text-align: center;
    font-size: 2rem;
}

.gotit-btn {
    background-color: var(--primary-color);
    color: #fff;
    width: 17rem;
    height: 4.5rem;
    font-size: 2.5rem;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.gotit-btn:hover {
    opacity: 0.9;
}